body, html {
    margin: 0;
    padding: 0;
}

.main-div{
    height: 100vh;
    width: 100vw;
    background-color: #2ED47A;
}

.title-app{
    display: inline-block;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    left: 20%;
    top: 15%;
}

.modal-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 350px;
    height: auto;
    display: inline-block;
    background-color: #EBEFF2;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(86, 94, 86);
}

.input-login{
    margin-left: 20px;
    margin-top: 15px;
    width: 80%;
    border: none;
    padding: 8px;
    position: relative;
}

.title-login{
    text-align: center;
    color: #2CA764;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nome-login{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    padding: 5px;
    top: 0;
    left: 17px;
    transform: translate(10px, -50%);   
    margin: 3px;
}

.input-container {
    position: relative;
}

.login-button{
    color: #FFFF;
    background-color: #2CA764;
    border: none;
    width: 60%;
    padding: 5px;
    margin-top: 10%;
    font-size: 18px;
    margin-left: 20%;
    margin-bottom: 5%;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.nome-login-radio{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    margin-right: 64%;
}

.radio-btn{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bold;
    font-size: 11px;
    left: 10px;
    margin-left: 5%;
    margin-top: 5%;
    position: relative;
}

.input-login-selector{
    margin-left: 30px;
    margin-top: 10px;
    border: none;
    font-style: bold;
    padding: 8px;
    width: 80%;
    position: relative;
}

.nome-login-radio{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    top: -5px;
    left: 17px;
    transform: translate(10px, -50%);
    margin-bottom: 8%;
}

.input-container-radio{
    position: relative;
}