#main{
    position: relative;
    width: 70%;
    left: 21%;
    
}

#serach-button{
    position: absolute;
    
}

  
#main-div{
    box-shadow: 2px 2px 15px rgb(86, 94, 86);
}

input:focus {
    outline: none;
  }
  

button:hover{
    cursor: pointer;
}