.rbc-calendar {
    height: 800px;
  }
  
  .rbc-event {
    background-color: #2ED47A;
    color: #fff;
    border: 1px;
  }

  .rbc-event:focus {
    background-color: #2c8d58; /* verde escuro */
    color: #fff;
    border: none;
  }
  
  .rbc-toolbar button {
    background-color: #2ED47A;
    color: #fff;
    border: none;
    margin: 1px;
  }

  .rbc-toolbar-label{
    font-weight: bold;
    color: #323C47;
  }


  