body {
    overflow: hidden;
}

.cad-button{
    color: #FFFF;
    background-color: #2CA764;
    border: none;
    right: 0;
    height: 5%;
    top: 10%;
    font-size: 12px;
    margin-left: 20%;
    margin-right: 25px;
    margin-bottom: 5%;
    font-weight: bold;
    position: absolute;
    border-radius: 7px;
    box-shadow: 1px 1px 6px rgb(86, 94, 86);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cad-button:hover{
    background-color: #16683b;
}

.lista-colaboradores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.selected-collaborator{
    
    position: absolute;
    top: 15%;
    left: 50%;
}

.selected-row {
    background-color: #2CA764;
}
  
.selected td {
color: #334d6e;
}

.selected input[type="checkbox"] {
cursor: default;
}

.even {
background-color: #e7ebf0;
}

.odd {
background-color: #ffffff;
}

td{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
}

table{
    box-shadow: 1px 1px 6px rgb(86, 94, 86);
    border-radius: 7px;
    margin-left: 15%;
    margin-bottom: 8%;
    border-collapse: collapse;
    width: 80%; /* define a largura da tabela como 100% do elemento pai */
    table-layout: fixed; /* define o layout da tabela como fixo */
}


#div-tabela{
    max-height: 70vh;
    max-width: 90vw;
    overflow: auto;
    margin-bottom: 100px;
    
}

.main-colab{
    max-height: 100vh;
    left: 15%;
    background-color: #f7f4f4;
}