.progress-bar-container {
    height: 20px;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #2ED47A;
    transition: width 0.5s ease-in-out;
  }
  
  .progress-text {
    position: relative;
    
    left: 100%;
    transform: translate(-50%, -50%);
    color: #323C47;
    font-size: 12px;
    font-weight: bold;
  }
